.help{
    width: 100%;
    height: 60%;
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content{
    width: 80%;
    height: 85%;
    border: 0px solid yellow;
    float: left;
}